@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root {
  --light: #FBFEF9;
  --dark: #1B1B1B;
  --hot-pink: #FA61AD;
  --neon-pink: #FF55A3;
  --light-pink: #FFADD3;
  --middle-pink: #FF85BE; 
}

html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
body {
  color: var(--light);
  background-color: var(--dark);
  font-family: 'Open Sans', Verdana, sans-serif;
}
.container-fluid {
  padding: 2rem 5rem 0 5rem;
}
.inner {
  padding: 0;
}
.inner p.first {
  margin-bottom: 2rem;
}
.first-media {
  margin-bottom: 2rem;
}
.second-media {
  margin-bottom: 0;
}
img {
  width: 100%;
}
h1 {
  font-family: 'Abril Fatface', sans-serif;
  font-size: 95px;
}
.main {
  text-align: center;
  margin-bottom: 2.5rem;
}
p.footer {
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  padding: 0;
  margin-top:1.25rem;
}
h2 {
  /*margin-top: 1.3rem;*/
  margin-bottom: 2rem;
  font-size: 25px;
  opacity: 0.9;
  font-family: 'Abril Fatface', sans-serif;
  text-transform: lowercase;
}
.fa {
  color: var(--dark);
  border-radius: 50%;
  font-size: 40px;
  width: 40px;
  margin: 1rem 1rem 0 1rem;
}
.fa:hover {
  opacity: 0.8;
}
.fa-facebook {
  font-size: 35px;
  width: 35px;
}
.links {
  width: 100%;
  text-align: center;
}
img.repo-image {
  max-width: 100%;
  border: 2px solid rgba(27, 27, 27, 0.8);
  margin: 0;
}
a:link, a:hover, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}
a:link, a:active, a:visited {
  color: var(--neon-pink);
  font-weight: bold;
  opacity: 0.9;
}
a:hover {
  opacity: 0.8;
  text-decoration: underline;
}
a.fa {
  color: var(--light);
}
a.fa:hover {
  text-decoration: none;
}
a.r {
  color: var(--dark);
  font-weight: 600;
}

/* TABS */

/* Tab */
button {
  font-family: 'Abril Fatface', sans-serif;
  text-transform: lowercase;
  letter-spacing: .15rem;
}
.tab-wrapper .tab-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tab-wrapper .tab-btns .btn {
  border: none;
  border-radius: 0;
  outline: none;
  color: var(--dark);
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
  font-size: 1.3rem;
  transition: 200ms linear;
}
.tab-wrapper .tab-btns .btn:hover {
  opacity: 0.8;
} 
.color-1 {
  background-color: var(--light-pink);
}
.color-2 {
  background-color: var(--middle-pink);
}
.color-3 {
  background-color: var(--neon-pink);
}
.tab-wrapper .tab-btns .tab-btn {
  padding: 20px;
}
.tab-wrapper .tab-btns .tab-btn:first-child {
  border-top-left-radius: 20px;
}
.tab-wrapper .tab-btns .tab-btn:last-child {
  border-top-right-radius: 20px;
}
.tab-wrapper .tab-contents p {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.15px;
}

/* show/hide content */
.tab-contents .content {
  display: none;
  padding: 3rem;
  color: var(--dark);
}
.tab-contents .content.active {
  display: block;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 768px) {
  .left, .right {
    min-height: 50vh;
  }
  h1 {
    font-size: 50px;
  }
  .right h2 {
    font-size: 25px;
    white-space: nowrap;
  }
  .container-fluid {
    padding: 3rem 3rem 0 3rem;
  }
  .inner {
    padding: 0;
  }
  .second-media {
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 425px) {
  .right h2 {
    white-space: normal;
  }
  .tab-wrapper .tab-btns .btn {
    font-size:1rem;
}
@media only screen and (max-width: 320px) {
  .right h2.dc {
    white-space: nowrap;
  }
}
